<!DOCTYPE html>
<html>
<header>
<a href="{ % url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>
</header>
<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
{% block content %}
<!--<nav class="navbar navbar-dark bg-primary">-->
<!--  &lt;!&ndash; Navbar content &ndash;&gt;-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarText">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="about.html">About Us</a>-->
<!--      </li>-->

<!--    </ul>-->

<!--  </div>-->
<!--</nav>-->
{% endblock content %}
</body>
</html>